#parrafo_de_prueba{
    background-color: black;
    color: white;
    border: 6px solid green;
/*     border-top-width: 50px;
    border-right-width: 40px;
    border-bottom-width: 30px; */ 
    /* border-left-width: 20px; */
    border-radius: 22px;
}

p.dotted {
    border-style: dotted;
}

p.dashed {
    border-style: dashed;
}

p.solid {
    border-style: solid;
}

p.double {
    border-style: double;
}

p.groove {
    border-style: groove;
}

p.ridge {
    border-style: ridge;
}

p.inset {
    border-style: inset;
}

p.outset {
    border-style: outset;
}

p.none {
    border-style: none;
}

p.hidden {
    border-style: hidden;
}

p.mix {
    border-style: dotted dashed solid double;
}


#imagen_arnold {
    border-style:dashed;
    border-color: blue;
    padding-right: 0;

}