.estrofa1 {
    color: yellow;
    font-size: 50px;
}

.estrofa2 {
    color: blue;
    font-size: 40px;
}

.estrofa3 {
    color: red;
    font-size: 30px;
}

.parrafo1 {
    color: yellow;
    font-size: 25px;
}

.parrafo2 {
    color: blue;
    font-size: 20px;
}

.parrafo3 {
    color: red;
    font-size: 15px;
}
